table, td {
  padding: 1px;
  border:1px solid white;
}
body {
   background-color:grey;
}  
.barvazluta{
    color:yellow;
} 
#bila{
color:white;
}
.pozadimodre
{
   background-color:blue 
    }   
       .pozadicervene
{
   background-color:red
}

div div div div h3{
    color:blue;
}
body div p{
    color:blue;
}